.post-created {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 25px;
}

.post-title {
    font-size: 1.4em;
    font-weight: bold;
}

.post-text {
    font-size: 1.2em;
    margin: 5px 0;
}