#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(60, 5, 122);
    color: white;
    padding: 40px;
    border-radius:  10px;
    margin: 20px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

main {
    padding-left: 10px;
}

.other-blogs {
    margin: 20px 0;
    width: 80%;
}

.other-blogs li {
    list-style-type: none;
    margin: 10px 0;
    display: inline-block;
}

.posts {
    width: 50%;
    margin-bottom: 20px;
}

.post {
    margin: 20px 0;
}

.post-created {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 25px;
    border-top: 1px dotted gray;
}

.post-title {
    font-size: 1.4em;
    font-weight: bold;

}

.post-text {
    font-size: 1.2em;
    margin: 5px 0;
}

.form-wrapper {
    width: 60%;
    margin: 0 auto;
}
.form-title {
    margin-bottom: .7em;
}

.form-label {
    margin-top: .7em;
    margin-bottom: .3em;
}

fieldset {
    margin-top: 1.5em;
}

.form-legend {
    margin-bottom: .75em;
}

.form-legend + .form-group > .form-label:first-child {
    margin-top: 0;
}

.option-group {
    margin-top: 2em;
}

.form-actions {
    padding-top: 1em;
    border-top: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 2em;
}

.error-box {
    color: red;
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    margin: 20px 0;
    padding:0;
}

.error-box ul {
    margin:0;
    padding: 10px;
    list-style-type: none;
}